/* font style formatting */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* heading side */
.heading{
    background-attachment: fixed;
    background-image: url('Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: top left ,bottom right;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}
nav ul{
    display: flex;
    justify-content: space-between;
    
}
nav ul li{
    list-style: none;
    margin:50px 150px;
}
nav ul a{
    text-decoration: none;
}
.logo{
    font-weight: bold;
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
}
button{
    font-weight: bold;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    padding: 16px 32px;
    background-color: rgba(78, 71, 255, 1);
    border-radius: 12px;
    border: none;  
    text-decoration: none;  
}
.cool{
    margin: 158px 268px 237px 268px;
    align-items: center;
    text-align: center;

}
h1{
    font-weight: bold;
    font-size: 65px;
}
.blacko{
    color:rgba(37, 36, 50, 1)
}
.action{
    margin: 116px 140px 116px 160px;
    display: flex;
    justify-content: space-between;
    

}
/* left side */
.left_side{
   margin-top: 62.5px;
   margin-bottom: 62.5px;
   margin-right: 220px;
}
h1{
    font-weight: bold;
    font-size: 42px;
    color:black;
}
p{
    font-weight: normal;
    font-size: 24px;
    color:#252432;
}
.right_side{
   
   border-radius:48px;
   display: flex;
   overflow: hidden;
     
}
/* For Productive Section */
.Productive{
   margin: 116px 159px 137px 141px;
   padding: 50px 142px;
   background-color:rgb(189, 219, 228);
   border-radius: 24px;
}.title{
    font-weight: bold;
    font-size: 38px;
    color:#252432;
    text-align: center;
}

.sub_title{
    display: flex;
    justify-content: space-between;
}
.head{
    font-weight: bold;
    font-size: 80px;
    color:  #4E47FF;
}
.para{
    color: #000000;
    font-weight: 400;
    font-size: 20px;
}
/* For touch section */
.Touch{
  margin: 137px 149px 137px 151px;
}
.user{
    font-weight: bold;
    font-size: 42px;
    color:#252432;
    text-align: center;
}
.card{
    margin-top: 50px;
}
/* Design sectiom */
.txt_h{
    color: #1E1E1E;
    font-weight: 600;
    font-size: 24px;
}
.txt_p{
    font-weight: 400;
    font-size: 16px;
    color:#1E1E1E;
}
.tw_img{
    display: flex;
    gap:6.2px;
}
.rou_n{
    border-radius:40px;
}
.s_p{
   color: rgba(117, 117, 117, 1);
   font-size:16px;
   font-weight:600;


}

.s_card{
    width: 350px;
    border: 2px solid none;
    border-radius:8px ;
    padding: 24px;
    background-color: aliceblue;
}
.card{
    display: flex;
    gap:24px;
}
.design_p{
    margin:137px 149px 151px 92.3px ;
    background-color: white;
}
.sub_design{
    text-align: center;
}
.R_two{
    padding-top: 71px;
    padding-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.butd{
    font-weight: bold;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    padding: 16px 32px;
    background-color: rgba(78, 71, 255, 1);
    border-radius: 12px;
    border: none;  
    text-decoration: none;
    margin-bottom: 20px;
      
}

.right_sidew{
    
    display: flex;
    justify-content: center;
    border-radius: 48px;
    overflow: hidden; 
   

}
.feedback{
    margin: 92.3px 150px 150px 14px;

}
.mid{
    padding: 0px 200px 115px 200px;
    font-weight: bold;
    font-size: 97px;
}
.email{
  padding: 32px 20px;
  margin:auto;
  box-sizing: border-box;
  border:2px none
}
.femail{
    font-size: 18px;
    font-weight: 600;
}

.butter{
    font-weight: bold;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    padding: 19px 201px;
    background-color: rgba(78, 71, 255, 1);
    border-radius: 12px;
    border: none;  
    text-decoration: none;
    margin-bottom: 20px;
}
.formo{
    gap: 19px;
}
.feedback{
    display: flex;
    justify-content: space-between;
}
.form{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.form .input_box input{
    width: 497px;
    height: 70px;
}
.textm{
    width: 497px;
    height: 135px;
}
.foot{
    align-items: center;
    margin: 104px 455px 103px 454px;
    text-align: center;
}
.fulllog{
     font-size: 100px;
     font-weight: black;
     color: #4E47FF;
     text-align: center;

}

.f_p{
    color:rgba(137, 135, 161, 1);

}
div ul{
    display: flex;
    justify-content: space-between;
    padding: 0px 520px 103px;
}
div ul a{
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
}
div ul li{
    list-style: none;
}
